[Unit]
Description=Automatically generates an internet Hotspot when ethernet cable is unplugged
After=multi-user.target
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/autohotspot
[Install]
WantedBy=multi-user.target
